@model IEnumerable<ManufacturingManagement_V2.Models.ItemGroupMdl>

@{
    ViewBag.Title = "Index";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}

<h4><b>Item Group List</b></h4>

<p>
    @Html.ActionLink("Back", null,null,new{@onclick="window.close()", @style="color:blue;"})
</p>
<table class="tablecontainer" style="width:100%;">
    <tr>
        <th style="width:25px;">
            S.No.
        </th>
        <th style="width:auto;">
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
    </tr>
    @{int i = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
        </tr>
        i++;
    }

</table>

