<ul class="sidebar-menu" data-widget="tree">
    @*ul-start*@

    <li>
        <a href="/Home/DisplayErpV1?url=../Report/PurchaseOrderDsbRpt.aspx?toprint=0">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <span>Pending POs</span>
        </a>
    </li>

    <li>
        <a href="/Home/DisplayErpV1?url=../Report/DispatchPlanDsbRpt.aspx?toprint=0">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <span>DPs in Next 30 Days</span>
        </a>
    </li>

    <li>
        <a href="/ItemMasterReport/Index">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <span>Products</span>
        </a>
    </li>

    @*Views*@
    <!--<li class="treeview" id="mnuViewsProduction">-->
    @*<li>*@
    <!--<a href="/Home/Index?deptt=Production">
        <i class="fa fa-users fa-lg" aria-hidden="true"></i>
        <span onclick="setOpt('mnuViewsProduction');">&nbsp;&nbsp;Views</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="/ProductionPlan/IndexStatus">Production Plan Status</a></li>
        <li><a href="/ProductionEntry/Index">Daily Production View</a></li>
    </ul>-->
    <li>
        <a href="/ProductionPlan/IndexStatus">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <span>Production Plan Entry</span>
        </a>
    </li>
    @*</li>*@

    @*Transaction Entry*@
    <li class="treeview" id="mnuTransactionEntriesProduction">
        @*<li>*@
        <a href="/Home/Index?deptt=Production">
            <i class="fa fa-users fa-lg" aria-hidden="true"></i>
            <span onclick="setOpt('mnuTransactionEntriesProduction');">&nbsp;&nbsp;Production Entry</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/ProductionEntry/CreateUpdate">Daily Production Entry</a></li>
            <li><a href="/ProductionEntry/Index">Daily Production View</a></li>
            @*<li><a href="/InspectionEntry/Index">Daily Inspection Entry</a></li>*@
        </ul>
        @*</li>*@

        @*WIP To Jobwork*@
    <li class="treeview" id="mnuWipToJobwork">
        @*<li>*@
        <a href="/Home/Index?deptt=Production">
            <i class="fa fa-users fa-lg" aria-hidden="true"></i>
            <span onclick="setOpt('mnuWipToJobwork');">&nbsp;&nbsp;WIP to Jobwork</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/JobworkIssueListByWip/CreateUpdate">Enter Jobwork List</a></li>
            <li><a href="/JobworkIssueListByWip/Index">View Jobwork List</a></li>
            <li><a href="/JobworkIssueRecReport/JobworkChallanView">View Jobwork Slip</a></li>
        </ul>
        @*</li>*@

        @*Reports*@
    <li class="treeview" id="mnuReportsProduction">
        @*<li>*@
        <a href="/Home/Index?deptt=Production">
            <i class="fa fa-users fa-lg" aria-hidden="true"></i>
            <span onclick="setOpt('mnuReportsProduction');">&nbsp;&nbsp;Reports</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/ProductionReport/ProductionPlanStatusIndex">Production Plan Report</a></li>
            <li><a href="/ProductionReport/Index">Daily Production Report</a></li>
            <li><a href="/ProductionReport/ProductionTargetStatusIndex">Production Target Report</a></li>
            @*<li><a href="/InspectionReport/TargetIndex">Inspection Target Report</a></li>*@
            @*<li><a href="/InspectionReport/InspectionIndex">Daily Inspection Report</a></li>*@
        </ul>
        @*</li>*@

</ul>
@*ul-end*@