<ul class="sidebar-menu" data-widget="tree">
    <li>
        <a href='@Url.Action("Compliance_Dashboard", "DisplayDashboard")'>
            <i class="fa fa-calendar fa-lg" aria-hidden="true"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a href='@Url.Action("Index", "WorkList")'>
            <i class="fa fa-bars" aria-hidden="true"></i>
            <span>Compliance View</span>
        </a>
    </li>
    <li>
        <a href='@Url.Action("CreateUpdate", "WorkList")'>
            <i class="fa fa-bars" aria-hidden="true"></i>
            <span>Compliance Entry</span>
        </a>
    </li>
    <li>
        <a href='@Url.Action("Index", "WorkListReport")'>
            <i class="fa fa-bars" aria-hidden="true"></i>
            <span>Compliance Report</span>
        </a>
    </li>
</ul>
@*ul-end*@