<ul class="sidebar-menu" data-widget="tree">
    @*ul-start*@

    <li class="active">
        <a href="/C_Fitting/Index">
            <i class="fa fa-calendar fa-lg" aria-hidden="true"></i>
            <span>Fitting Item</span>
        </a>
    </li>

    <li class="active">
        <a href="/C_CRM/Index">
            <i class="fa fa-calendar fa-lg" aria-hidden="true"></i>
            <span>Complaint List</span>
        </a>
    </li>

    <!--<li class="treeview" id="mnuSystemMaintenance">-->
    @*<li>*@
    <!--<a href="/Home/Index?deptt=Maintenance">
        <i class="fa fa-users fa-lg" aria-hidden="true"></i>
        <span onclick="setOpt('mnuSystemMaintenance');">&nbsp;&nbsp;Machine Maintenance</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="/MachineMaintenance/IndexMachineName"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i>Define Machine</a></li>
        <li><a href="/MachineMaintenance/IndexMachineCheckpint"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i>Define Checkpoint</a></li>
        <li><a href="/MachineMaintenance/index"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i>Add Maintenance Task</a></li>
        <li><a href="/MachineMaintenance/IndexBreakDownList"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i>Add Breakdown</a></li>
    </ul>-->
    @*</li>*@


</ul>
@*ul-end*@