<footer style="height:50px;">
            <div class="content-wrapper" style="height:50px;" >
                <div class="float-middle">  
                    <a href="http://www.praggroup.com" target="_blank">
                        <p style="text-align:center;font-weight:normal;font-size:11pt;vertical-align:middle;">
                            &copy; @DateTime.Now.Year - Prag Group of Industries, MIS Deptt, ERP V.2, Contact No : Extn. 332 / 0522 - 26 52 033 / (+91) 89 22 00 88 25</p></a>
                </div>
            </div>
</footer>