@model ManufacturingManagement_V2.Models.AlertsMdl
<h4><label onclick="ShowHideDiv(divComp)">Compliance Alert</label></h4>

<label for = "terms" >I accept the terms</label>
<input type = "checkbox" id = "terms">




