@model ManufacturingManagement_V2.Models.C_ComplaintMDI
@{
    ViewBag.Title = "New Complaint";
    //Layout = "~/Views/Shared/_LayoutCommon1.cshtml";
}
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div>
     <table id="jdtabledesktop4" class="display nowrap" style="width:100%">
        <thead>
            @*<tr>
                    <th style="color:red">Below is Your's Reference No To track The Status Of the Complaint</th>
                    <th>Created On</th>
                </tr>*@
        </thead>
        <tbody>
            @foreach (var item in Model.Item_List)
            {
                <tr>
                    <td style="color:red;font-size:larger">
                        Complaint No - @Html.DisplayFor(model => item.referenceno) Has been closed on -  @Html.DisplayFor(model => item.dateofclosed)
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>


