@{
    ViewBag.Title = "ChangeCompany";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}

<h4><b>Change Company</b></h4>
<h3><span style="color:black;background-color:white;font-size:10pt;font-family:verdana;font-weight:bold;">
[*Note: Be sure that all other tabs/pages are closed before changing the company]</span></h3>
<h3><span style="color:black;background-color:white;font-size:9pt;font-family:verdana;font-weight:bold;">
[Working in multi tabs/pages is restricted to a single company]</span></h3>

<fieldset>
            @using (Ajax.BeginForm("ChangeCompany", "Login",
                                    new AjaxOptions { UpdateTargetId = "dvChangeCompany" }))
            {
                <div class="form-group" id="divInterestDeatils">
                    <table class="table table-bordered">
                        <tr>
                            <td style="width:12%;">@Html.Label("Select Company")</td>
                            <td>@Html.DropDownList("ddlCompany", ViewBag.CompanyList as SelectList)</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button class="btn btn-default">Submit</button>
                                <h5>@ViewBag.Result</h5>
                            </td>
                        </tr>
                    </table>
                </div>
            }   
</fieldset>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("input[type=DropDownList]").first().focus();
        });
    </script>
}

