<p>
    @Html.ActionLink("Add New Complaint", "ComplaintView", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Reply Complaints", "ReplyView", null, new { @class = "btn btn-default" })
    @*@Html.ActionLink("Forwarded Complaints", "ReplyViewForward", null, new { @class = "btn btn-default" })*@
    @Html.ActionLink("Closed Complaints", "ReplyViewClosed", null, new { @class = "btn btn-default" })
</p>