
/* example: SaleGSTOthersK-CreateUpdateK for json master-detail entry pages*/

span.error {
    display: block;
    visibility: hidden;
    color: red;
    font-size: 90%;
}

.numericfld {
    width: 160px;
    text-align: right;
    border: solid;
    border-width: 0.25px;
}

/*css for table*/
.container td {
    vertical-align: top;
}

.tablecontainer table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #BFAEAE;
    border-right: 1px solid #BFAEAE;
}

.tablecontainer th {
    border-bottom: 2px solid #BFAEAE !important;
    border-top: 2px solid #BFAEAE !important;
    background-color: lightgray;
}

.tablecontainer th, .tablecontainer td {
    text-align: left;
    border-left: 1px solid #BFAEAE;
    border-right: 1px solid #BFAEAE;
    padding: 5px;
    border-bottom: 1px solid #BFAEAE;
    vertical-align: top;
}

.ui-widget {
    font-size: 12px !important;
}
