@{
    ViewBag.Title = "UploadFile";
    Layout = "~/views/shared/_LayoutIFramePopup.cshtml";
}

<h4><b>Upload File</b></h4>
<fieldset>
    @using (Html.BeginForm("UploadFile", "Circular", FormMethod.Post,
        new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="recid" id="recid" value='@ViewBag.recid'>
        <label for="file"><i>Select a pdf file to upload:</i></label>
        <br /><br />
        <input style="color:green;font-weight:bold;"
               type="file" name="docfile" id="docfile" />
        <br />
        <input type="submit" class="btn btn-default" value="Upload File" />
        @ViewBag.Message
    }
</fieldset>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

@section Scripts {

    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $("input[type=text]").first().focus();
        });

    </script>

}


