<p>
    @Html.ActionLink("BG Report", "../BankGuaranteeReport/Index", null, new { @class = "btn btn-default" })
    @Html.ActionLink("BG Ledger", "../BankGuaranteeReport/LedgerIndex", null, new { @class = "btn btn-default" })
    @Html.ActionLink("BG Alert", "../BankGuaranteeReport/BGAlertView", null, new { @class = "btn btn-default" })
</p>