
@model List<string>
    @{
        ViewBag.Title = "DownloadFile";
        Layout = "~/views/shared/_LayoutCommon.cshtml";
    }

    <h4>Download Excel -Tally DRR Entry</h4>
    @Html.ActionLink("Upload", "UploadFileDRR", null, new { @class = "btn btn-default" })
    <br /><br/>
    <table class="tablecontainer" style="width:100%;">
        <tr>
            <th style="text-align:left;width:50px;">S.No.</th>
            <th style="text-align:left;width:auto;">File Name</th>
            <th style="text-align:left; width:70px;">Link</th>
        </tr>
        @{int x = 1;}
        @for (var i = 0; i <= Model.Count - 1; i++)
        {
            <tr>
                <td>
                    @x
                </td>
                <td>
                    @Model[i].ToString()
                </td>
                <td>
                    @Html.ActionLink("Download", "../TallyData/DownloadDRR", new { fileName = @Model[i].ToString() }, new { target = "_blank" })
                </td>
            </tr>
            x++;
        }
    </table>

