@model ManufacturingManagement_V2.Models.LibFileUploadMDI
@{
    // ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}

@using (Html.BeginForm())
{
    <div style="color:black;background-color:white;width:1100px;height:30px;font:small;color:red">
        Record Save Successfully and File Details Given Below.
    </div>
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 text-success">
            @ViewBag.FileStatus
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-8">
            @Html.Action("FileDetails1", "LibraryMasterUpload")

        </div>
    </div>
    

}
    <script src="~/Script/Site.js"></script>