@model ManufacturingManagement_V2.Models.C_Fitting_ItemMDI
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_LayoutCommon1.cshtml";
    //Layout = null;
}
<!DOCTYPE html>
<head>
    <title>
    </title>
    @* <meta http-equiv="refresh" content="10" />*@
    <meta name="viewport" content="width=device-width" />
</head>
<html>
@*onload="JavaScript:timedRefresh(1000)"*@
<body style="height:100px">
        <br />
        <div style="margin-top:150px;margin-left:200px;">
            <h4 style="color:red"><b>@ViewBag.Message</b></h4>
        
        </div>
  
</body>
</html>



