
<footer class="main-footer" style="height:38px;">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        @*Welcome To-@ViewBag.CompName @ViewBag.FinYear*@

        <span id="CDateTime" class="hidden-xs"
              style="font-family:'Courier New';
                      font-weight:bold;color:blue;font-size:9pt;">
            &nbsp;&nbsp;[&nbsp;DateTime]
        </span>
    </div>
    <!-- Default to the left -->
    <div style="font-size:9pt;color:blue;">
        <a target="_blank" href="http://praggroup.com">
            &nbsp;&nbsp;<b>PRAG MIS DEPARTMENT</b>
        </a>
        &nbsp;&nbsp; <b>ERP V.2.1</b> &nbsp;&nbsp;
        Copyright &copy; @DateTime.Now.Year
        &nbsp;&nbsp;All Rights Reserved&nbsp;&nbsp;
        Contact No : Extn. 332 / 0522 - 26 52 033 / (+91) 89 22 00 88 25
        @*&nbsp;&nbsp;(Best Viewed Resolution. 1366x768 on Google Chrome)*@
    </div>
</footer>