@{
    //Layout = null;
}
<html lang="en">




<head>
    <title>Bootstrap Tutorial Sample Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/bootstrap-4.4.1/dist/css/bootstrap.css" rel="stylesheet" />
    
    
</head>

<!------ Include the above in your HEAD tag ---------->
<body>
    <nav class="navbar navbar-expand-lg navbar-header">
        <a class="navbar-brand" href="#"><img id="img1" alt="" width="80" height="30" src="http://localhost:54708/Images/Praglogo.png" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"> </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                @*<li class="nav-item active">
                <a class="nav-link" href="/Home/Index">Home <span class="sr-only">(current)</span></a>
            </li>*@
                <li class="nav-item">
                    <a class="nav-link" href="#">@ViewBag.CompName</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">@ViewBag.FinYear</a>
                </li>
                @*<li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>*@

            </ul>
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
            
        </div>
    </nav>
       <div>
       @* @RenderSection("featured", required: false)*@
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/bootstrap-4.4.1/dist/js/bootstrap.js"></script>

</body>
</html>