@{
    ViewBag.Title = "User Manual";
    Layout = "~/views/shared/LayoutHelpContent.cshtml";
}

<h2>PRAG ERP User Manual: Production</h2>

<table>
    <tr>
        <td style="width:7%;text-align:left;"><h3><label id="shDesc" style="color:blue;" onclick="ShowHideALL()">Show</label></h3></td>
        <td style="text-align:left;font-size:10pt;"><h3>@Html.ActionLink("Back", null,null,new{@onclick="window.close()", @style="color:blue;"})</h3></td>
    </tr>
</table>

<div style="font-family:Verdana;">

    <br/>
    <span style="font-size:10pt;color:blue;font-weight:bold;">
        <label onclick="ShowHideDiv(MDiv1)"><u>1. Views</u></label>
    </span>
    <div id="MDiv1" style="display:block;margin-left:20px;">
       
        <br/>
        <h4><label style="color:darkmagenta;" onclick="ShowHideDiv(div1)">1. Production Plan Status</label></h4>
        <div id="div1" class="lnk" style="display:none;margin-left:50px;">
            <br/>
            Displays production plan status according to provided month. 
            <br/>Target production quantity can be entered 
            from this link for individual month.
        </div>

        <br/>
        <h4><label style="color:darkmagenta;" onclick="ShowHideDiv(div3)">2. Daily Production View</label></h4>
        <div id="div3" class="lnk" style="display:none;margin-left:50px;">
            <br/>
            Displays production entry records.
        </div>
        
</div>

    <br/>
    <span style="font-size:10pt;color:blue;font-weight:bold;">
        <label onclick="ShowHideDiv(MDiv2)"><u>2. Transaction Entries</u></label>
    </span>
    <div id="MDiv2" style="display:block;margin-left:20px;">

    <br/>
    <h4><label style="color:darkmagenta;" onclick="ShowHideDiv(div5)">1. Daily Production Entry</label></h4>
        <div id="div5" class="lnk" style="display:none;margin-left:50px;">
            <br/>
            Daily production entry for finished goods in the target month. 
        </div>

</div>

    <br/>
    <span style="font-size:10pt;color:blue;font-weight:bold;">
        <label onclick="ShowHideDiv(MDiv3)"><u>3. Reports</u></label>
    </span>
    <div id="MDiv3" style="display:block;margin-left:20px;">

    <br/>
    <h4><label style="color:darkmagenta;" onclick="ShowHideDiv(div6)">1. Production Plan Status Report</label></h4>
        <div id="div6" class="lnk" style="display:none;margin-left:50px;">
            <br/>
            Displays production plan status report.
        </div>

       <br/>
    <h4><label style="color:darkmagenta;" onclick="ShowHideDiv(div8)">2. Production Target Status Report</label></h4>
        <div id="div8" class="lnk" style="display:none;margin-left:50px;">
            <br/>
            Displays production target status report.
        </div>

        <br/>
    <h4><label style="color:darkmagenta;" onclick="ShowHideDiv(div7)">3. Daily Production Report</label></h4>
        <div id="div7" class="lnk" style="display:none;margin-left:50px;">
            <br/>
            Displays report on daily production entries.
        </div>

</div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $("input[type=text]").first().focus();
        });

    </script>

    <script type="text/javascript">
        function ShowHideALL() {
            var all = document.getElementsByClassName("lnk");
            var mx = all.length;
            if (document.getElementById('shDesc').innerText == 'Show') {
                document.getElementById('shDesc').innerHTML = 'Hide';
                var x;
                for (x = 0; x < mx ; x++) {
                    all[x].style.display = "block";
                }
            }
            else if (document.getElementById('shDesc').innerText == 'Hide') {
                document.getElementById('shDesc').innerText = 'Show';
                var x;
                for (x = 0; x < mx ; x++) {
                    all[x].style.display = "none";
                }
            }

        }
    </script>

    <script type="text/javascript">
        function ShowHideDiv(id) {
            if (id.style.display == "block") {
                id.style.display = "none";
            }
            else {
                id.style.display = "block";
            }
        }
    </script>

}

