<div id="menuCtr">
                <div class="menubox">
        <ul class="menu">
            <li class="first"><a href="/Indent/IndentApprovalHOD">Indent Approval [HOD]</a>
                @*<ul>
                    <li><a href="/Indent/Index">Indent Entry</a>
                </ul>*@
            </li>
            <li><a href="/Indent/IndentApprovalAdmin">Indent Approval [Admin]</a>
                @*<ul>
                    <li><a href="/Indent/Index">Indent Entry</a>
                </ul>*@
            </li>
            <li><a href="/Indent/CreateUpdate">New Indent</a>
                @*<ul>
                    <li><a href="/Indent/Index">View Indent</a>
                </ul>*@
            </li>
            <li ><a href="/Indent/Index">View Indent</a>
                @*<ul>
                    <li><a href="/Indent/Index">View Indent</a>
                </ul>*@
            </li>
            <li><a href="/IndentReport/IndentReport">Indent Report</a>
                @*<ul>
                    <li><a href="/IndentReport/IndentReport">Indent Report</a>
                </ul>*@
            </li>
            @*<li><a href="#">Reports</a>
                <ul>
                    <li><a href="/EmployeeReport/Index">Employee Report</a>
                </ul>
            </li>*@
            <li><a href="#">Options</a>
                <ul>
                    <li><a href="/Home/IndentDashboard">Dashboard</a>
                    <li><a href="/Login/ChangePassword">Change Password</a>
                    <li><a href="/Login/ChangeCompany">Change Company</a>
                    <li><a href="/Login/ChangeFinYear">Change Financial Year</a>
                </ul>
            </li>
            </ul>
                    </div>
            </div>