<div id="menuCtr">
<div class="menubox">
    <ul class="menu">


        <li>
           @* <a href="/B_Tree_SiteMenu/Index" style="color:white"> <img id="add" alt="" src="http://localhost:54708/Images/add.png" /></a>*@
            <a href="/Treeview/Index">HR</a>

        <li class="first">
           @*<a href="/B_Tree_SiteMenu/Index" style="color:white"> <img id="add" alt="" src="http://localhost:54708/Images/add.png" /></a>*@
            <a href="/Menu/Index">Production</a>

        </li>
        <li class="first">
            @*<a href="/B_Tree_SiteMenu/Index" style="color:white"> <img id="add" alt="" src="http://localhost:54708/Images/add.png" /></a>*@
              <a href="/Menu/Index">Store</a>

        </li>
      


    </ul>
</div>
</div>