<div id="menuCtr">
<div class="menubox">
<ul class="menu">
<li class="first"><a href="#">Meeting</a>
    <ul>
        <li><a href="/QuailMeeting/CalendarView">Meeting Calendar</a>
        <li><a href="/QuailMeeting/Index">Meeting View</a>
        <li><a href="/QuailMeeting/CreateUpdate">New Meeting</a>
    </ul>
</li>
<li><a href="#">QUAIL Card</a>
    <ul>
        <li><a href="/QuailMeeting/Index">QUAIL View</a>
        <li><a href="/QuailMeeting/CreateUpdate">QUAIL Card</a>
    </ul>
</li>
<li><a href="#">Function-Member</a>
    <ul>
        <li><a href="/FunctionMember/Index">Function Member</a>
        <li><a href="/FunctionMember/CreateUpdate">New Member</a>
    </ul>
</li>
<li><a href="#">QUAIL Function</a>
    <ul>
        <li><a href="/QuailFunction/Index">Function View</a>
        <li><a href="/QuailFunction/CreateUpdate">New Function</a>
        <li><a href="/QuailBookReport/Index">QUAIL Report</a>
    </ul>
</li>
<li><a href="#">Options</a>
    <ul>
        <li><a href="/Home/ComplianceDashboard">Dashboard</a>
        <li><a href="/Login/ChangePassword">Change Password</a>
        <li><a href="/Login/ChangeCompany">Change Company</a>
        <li><a href="/Login/ChangeFinYear">Change Financial Year</a>
    </ul>
</li>
</ul>
</div>
</div>