<ul class="sidebar-menu" data-widget="tree">
    @*ul-start*@

    @*Master Entries*@
    <li class="treeview" id="mnuMasterEntriesITCell">
        @*<li>*@
        <a href="/Home/Index?deptt=ITCELL">
            <i class="fa fa-users fa-lg" aria-hidden="true"></i>
            <span onclick="setOpt('mnuMasterEntriesITCell');">&nbsp;&nbsp;Master Entries</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/B_ITAssestCell/Index">Item Type <i class="fa fa-bandcamp"></i></a></li>
            <li><a href="/B_Item_Master_ItCell/index">Item Name <i class="fa fa-bandcamp"></i></a></li>
        </ul>
        @*</li>*@

        @*Transaction Entries*@
    <li class="treeview" id="mnuTransactionEntriesITCell">
        @*<li>*@
        <a href="/Home/Index?deptt=ITCELL">
            <i class="fa fa-users fa-lg" aria-hidden="true"></i>
            <span onclick="setOpt('mnuTransactionEntriesITCell');">&nbsp;&nbsp;Transaction Entries</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Add_In_Stock_ITCELLLis/index">In Stock <i class="fa fa-bandcamp"></i></a></li>
            <li><a href="/B_Issue_Item_ITCELLList/Index">Issue Item <i class="fa fa-bandcamp"></i></a></li>
            <li><a href="/B_Scrap_Item/Index">Scrap Item <i class="fa fa-bandcamp"></i></a></li>
            <li><a href="/B_GetApproval_ScrapItem/Index">Approval<br />Scrap Item <i class="fa fa-bandcamp"></i></a></li>
        </ul>
        @*</li>*@

        @*Documents*@
    <li class="treeview" id="mnuDocumentsITCell">
        @*<li>*@
        <a href="/Home/Index?deptt=ITCELL">
            <i class="fa fa-users fa-lg" aria-hidden="true"></i>
            <span onclick="setOpt('mnuDocumentsITCell');">&nbsp;&nbsp;Documents</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/B_Upload_Invoice_ITCEll/index">Upload Invoice <i class="fa fa-bandcamp"></i></a></li>
            <li><a href="/B_GetInvoiceDetail/index">Get Invoice<br />Detail <i class="fa fa-bandcamp"></i></a></li>
        </ul>
        @*</li>*@

        @*Reports*@
    <li class="treeview" id="mnuReportsITCell">
        @*<li>*@
        <a href="/Home/Index?deptt=ITCELL">
            <i class="fa fa-users fa-lg" aria-hidden="true"></i>
            <span onclick="setOpt('mnuReportsITCell');">&nbsp;&nbsp;Reports</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/B_IssueItem_ITCell_Report/Index">Report <i class="fa fa-bandcamp"></i></a></li>
        </ul>
        @*</li>*@

</ul>
@*ul-end*@