
<!--identical to layoutCommon page department collection 
    with just all 'a' tag put into 'li' tag-->

<li>
    <a href="/Home/Index?deptt=Home">
        <i class="fa fa-home">
            <span style="font-family:'Verdana';font-size:10pt;">
                HOME
            </span>
        </i>
    </a>
</li>

<!--<li>
    <a href="/Home/Index?deptt=Accounts">
        <i class="fa fa-home">
            <span style="font-family:'Verdana';font-size:10pt;">
                ACCOUNTS
            </span>
        </i>
    </a>
</li>-->

<li>
    <a href="/Home/Index?deptt=Admin">
        <i class="fa fa-users">
            <span style="font-family:'Verdana';font-size:10pt;">
                ADMIN
            </span>
        </i>
    </a>
</li>

<li>
    <a href="/Home/Index?deptt=Compliance">
        <i class="fa fa-users">
            <span style="font-family:'Verdana';font-size:10pt;">
                COMPLIANCE
            </span>
        </i>
    </a>
</li>

<li>
    <a href="/Home/Index?deptt=HR">
        <i class="fa fa-users">
            <span style="font-family:'Verdana';font-size:10pt;">
                HR
            </span>
        </i>
    </a>
</li>

<li>
    <a href="/Home/Index?deptt=Marketing">
        <i class="fa fa-users">
            <span style="font-family:'Verdana';font-size:10pt;">
                MARKETING
            </span>
        </i>
    </a>
</li>

<li>
    <a href="/Home/Index?deptt=Quality">
        <i class="fa fa-users">
            <span style="font-family:'Verdana';font-size:10pt;">
                QUALITY
            </span>
        </i>
    </a>
</li>

<li>
    <a href="/Home/Index?deptt=Production">
        <i class="fa fa-users">
            <span style="font-family:'Verdana';font-size:10pt;">
                PRODUCTION
            </span>
        </i>
    </a>
</li>

<li>
    <a href="/Home/Index?deptt=Stores">
        <i class="fa fa-users">
            <span style="font-family:'Verdana';font-size:10pt;">
                STORES
            </span>
        </i>
    </a>
</li>

<li>
    <a href="/Home/Index?deptt=ITCELL">
        <i class="fa fa-users">
            <span style="font-family:'Verdana';font-size:10pt;">
                IT ASSETS
            </span>
        </i>
    </a>
</li>

<li>
    <a href="/Home/Index?deptt=ELIbrary">
        <i class="fa fa-users">
            <span style="font-family:'Verdana';font-size:10pt;">
                E-LIBRARY
            </span>
        </i>
    </a>
</li>

<li>
    <a href="/Home/Index?deptt=Maintenance">
        <i class="fa fa-users">
            <span style="font-family:'Verdana';font-size:10pt;">
                MAINTENANCE
            </span>
        </i>
    </a>
</li>