
@{
    ViewBag.Title = "EmpAbsentLog";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}
<html>
<head>
    <title>

    </title>
    <script type="text/javascript">
            function disableBackButton() {
                window.history.forward();
            }
            setTimeout("disableBackButton()", 0);
    </script>
</head>
<body>
    <div style="color:red">
        Absent present log Has been Mark
    </div>

</body>

</html>



