@model ManufacturingManagement_V2.Models.Security_BLL
@{
                ViewBag.Title = "GetEmpId";
                Layout = "~/Views/Shared/_LayoutCommon1.cshtml";
}
   <br />
    <div>
        <table id="jdtabledesktop" class="display nowrap" style="width:100%">
            <thead>
              
            </thead>
            <tbody>
                @foreach (var item in Model.Item_List)
                {
                    <tr>
                        <td style="color:red;font-size:larger">

                            Record Has been Saved <br />
                            Employee Id is -
                            @Html.DisplayFor(model => item.ECode)
                           </td>
                           </tr>
                }
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>