
@{
    ViewBag.Title = "UpdateProfile";
    Layout = "~/views/shared/_LayoutCommon.cshtml";
}

<h4><b>Profile/Password Update Confirmation</b></h4>
<br/>
<h5><b><span style="color:blue;">Profile/Password Updated Successfully!</span></b></h5>
<br/>
<h5><b><u>@Html.ActionLink("Click here to go to LOGIN", "LoginUser", "Login", null, new { @style="color:black;"})</u></b></h5>

@*<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@

@*@section Scripts {

    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $("input[type=text]").first().focus();
        });
    </script>

}*@


