@model ManufacturingManagement_V2.Models.AlertsMdl
@{
    ViewBag.Title = "User Training List";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}

<h4><b>User Training List</b></h4>
@Html.Raw(Model.AlertDetail)

